# Oh the joy of MacOS
/.DS_Store
/data/.DS_Store
/model/.DS_Store

# --- lower project size --- #
/data/corpus.txt.gz
/data/corpus_clean.txt.gz
# this one isn't actually that big (2.2MB), but it'll keep my project size down a lot still
/model/tokenizer.json
/model/checkpoints/*
/model/*.log
/model/__pycache__/*

# you don't get to see that
/venv/*
